
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
 <h1>Games</h1>
 <h2>Insert Game</h2>
 <form method = "POST" action = "/insertgames">
    <p> ID: <input type = "text" name = "gameid" value = "{{gameid}}" disabled> </p>
    <td>
    <label> White: </label>
	    <select name="w_option" width="300px">
		{% for player in player_list %}
		    <option value="{{ player.playerid }}" SELECTED>{{ player.name }}</option>
		{% endfor %}
		</select>
	</td>
	<p>
    <label> Black: </label>
	    <select name="b_option" width="300px">
		{% for player in player_list %}
		    <option value="{{ player.playerid }}" SELECTED>{{ player.name }}</option>
		{% endfor %}
		</select>
	</p>


    <p> PGN: <input type = "text" name = "pgn"> </p>
    <p> Date: <input type = "date" name = "played_on" value = "2017-06-01"> </p>
    <td>


    <label> Tournament: </label>
	    <select name="t_option" width="300px">
		{% for tournament in tournament_list %}
		    <option value="{{ tournament.tournamentid }}" SELECTED>{{ tournament.name }}</option>
		{% endfor %}
		</select>
	</td>

 	
 	<p><input type = "submit" value = "Insert"></p> 
 </form>



<h2>Delete Game</h2>
 <form method = "POST" action = "/deletegames">
    <td>
    <label> Select Game: </label>
	    <select name="option_gd" width="300px">
		{% for game in game_list %}
		    <option value="{{ game.gameid }}" SELECTED>{{ game.wplayer + " vs " + game.bplayer + " on " + game.played_on}}</option>
		{% endfor %}
		</select>
	</td>
	<td>
	    <input class="button1" type="submit" value="Delete">
	</td>
 
 </form>


<h2>View Game</h2>
 <form method = "POST" action = "/querygames1">
    <td>
    <label> Select Game: </label>
	    <select name="option_g" width="300px">
		{% for game in game_list %}
		    <option value="{{ game.gameid }}" SELECTED>{{ game.wplayer + " vs " + game.bplayer + " on " + game.played_on }}</option>
		{% endfor %}
		</select>
	</td>
	<td>
	    <input class="button1" type="submit" value="Display PGN">
	</td>
 
 </form>

 

<h3>Game PGN</h3>
            <table id="player-stat-table" class="table table-hover table-bordered" border = "1">
            <tr class="column-name">
                <th>PGN</th>
            </tr>
            <tr>
            	<th>{{pgn}}</th>
            </tr>
            </table>


<h2>Find Games by Position</h2>
 <form method = "POST" action = "/querygames2">
    <p> Input Position Array <input type = "text" name = "position_array" value = "{{id}}" > </p> 
	<td>
	    <input class="button1" type="submit" value="List Games">
	</td>
 </form>


</body>
</html>
