<html>
  <style>
    body{ 
      font-size: 20pt;
      font-family: arial;
    }
    button {
        background-color: #000000;
        color: #FFFFFF;
        padding: 20px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        margin:20px;
        font-size:20px;
    }
  </style>


<body>
  <h1>The CU Chess Database</h1>

<button type = "button" onclick = "location.href='/games';">Games</button> 
<button type = "button" onclick = "location.href='/tournaments';">Tournaments</button>
<button type = "button" onclick = "location.href='/players';">Players</button>
<button type = "button" onclick = "location.href='/organizers';">Organizers</button>

</body>


</html>
