
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
 <h1>Players</h1>
 <h2>Insert Player</h2>
 <form method = "POST" action = "/insertplayers">
    <p> ID: <input type = "text" name = "playerid" value = "{{id}}" disabled> </p>
    <p> Name: <input type = "text" name = "name" > </p>
    <p> joined date: <input type = "date" name = "joined" value = "2017-06-01"> </p>
    <p> Rating: <input type = "text" name = "rating" value = "0"> </p>
 	
 	<p><input type = "submit" value = "Insert"></p> 
 </form>

<h2>Delete Player</h2>
 <form method = "POST" action = "/deleteplayers">
    <p> ID: <input type = "text" name = "playerid" value = "{{id}}" disabled> </p>
    <td>
    <label> Select Player: </label>
	    <select name="option" width="300px">
		{% for player in player_list %}
		    <option value="{{ player.playerid }}" SELECTED>{{ player.name }}</option>
		{% endfor %}
		</select>
	</td>
	<td>
	    <input class="button1" type="submit" value="Delete">
	</td>
 
 </form>

<h2>Query Players</h2>
 <form method = "POST" action = "/queryplayers">
    <p> ID: <input type = "text" name = "playerid" value = "{{id}}" disabled> </p>
    <td>
    <label> Select Player: </label>
	    <select name="option2" width="300px">
		{% for player in player_list %}
		    <option value="{{ player.playerid }}" SELECTED>{{ player.name }}</option>
		{% endfor %}
		</select>
	</td>
	<td>
	    <input class="button1" type="submit" value="Display Statistics">
	</td>
 
 </form>

 <h3>Player Statistics</h3>
            <table id="player-stat-table" class="table table-hover table-bordered" border = "1">
            <tr class="column-name">
                <th>Player id</th>
                <th>Player name</th>
                <th>Rating</th>
                <th>No of games played</th>
                <th>No of games won</th>
                <th>Win percentage</th>
            </tr>
            <tr>
            	<th>{{player_id}}</th>
                <th>{{name}}</th>
                <th>{{rating}}</th>
                <th>{{no_played}}</th>
                <th>{{no_won}}</th>
                <th>{{win_percentage}}</th>
            </tr>
            </table>


</body>


</html>
